[Unit]
Description=Create necessary folders for dms-greeter
ConditionPathExists=/usr/bin/dms-greeter
ConditionPathExists=!/var/lib/greeter
ConditionPathExists=!/var/cache/dms-greeter
After=local-fs.target

[Service]
Type=oneshot
# Create folders
ExecStart=/usr/bin/install -dm750 /var/cache/dms-greeter
ExecStart=/usr/bin/install -dm755 /var/lib/greeter
# Set proper SELinux contexts
ExecStart=/usr/bin/semanage fcontext -a -t cache_home_t '/var/cache/dms-greeter(/.*)?'
ExecStart=/usr/bin/restorecon -R /var/cache/dms-greeter
ExecStart=/usr/bin/semanage fcontext -a -t user_home_dir_t '/var/lib/greeter(/.*)?'
ExecStart=/usr/bin/restorecon -R /var/lib/greeter
# Set proper ownership
ExecStart=/usr/bin/chown -R greeter:greeter /var/cache/dms-greeter
ExecStart=/usr/bin/chown -R greeter:greeter /var/lib/greeter
# Disable this service now that it's done
ExecStart=/usr/bin/systemctl disable dms-greeter-folder-create.service

[Install]
WantedBy=multi-user.target
